body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-setup {
    width: 570px;
    height: 700px;

    margin: 0;
    padding: 45px 70px;

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;

}

.profile-header {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.profile-header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 8px;
}

.profile-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--text-secondary);
}

/* FORM */

.profile-setup form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.profile-setup label {
    width: 100%;
    display: block;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-primary);
    margin-top: 25px;
    margin-bottom: 0;
}

.profile-setup label span {
    color: var(--text-secondary);
    font-weight: 400;
}

.profile-setup input {
    width: 100%;
    height: 32px;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: var(--text-primary);
    background-color: #ffffff;
    border: 1px solid #d9d5e8;
    border-radius: 10px;
    outline: none;
    transition: 0.2s ease;
    margin: 0;
}

.profile-setup input::placeholder {
    color: #aaa6b5;
}

.profile-setup input:hover {
    border-color: #b8b0d0;
}

.profile-setup input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary-light);
}

.profile-setup input:disabled {
    background-color: #f5f4f8;
    color: var(--text-secondary);
    cursor: not-allowed;
}

/* BUTTON */

.profile-setup button {
    width: 100%;
    height: 48px;
    margin-top: 45px;
    border: none;
    border-radius: 30px;

    background-color: var(--primary);
    color: white;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
}

.profile-setup button:hover {
    background-color: var(--primary-dark);
}